<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{translation.getLocalizedString('DASHBOARD')}}</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <h1 style="color: #0078ff;">Welcome to <b>Automate</b></h1>
        </div>
    </section>
</div>