.overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  i {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}