<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12">
          <h1 *ngIf="!carCompanyId">New Car Model</h1>
          <h1 *ngIf="carCompanyId">Update Car Model</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-primary">
          <form [formGroup]="form" (ngSubmit)="addCarModel()">
            <div class="card-body">
              <div class="form-group">
                <label for="year">Car Model Name*</label>
                <input type="text" formControlName="name" placeholder="Enter Car Model Name*" id="name"
                  class="form-control" />
                <app-validation-message [control]="form.controls['name']"
                  [messages]="{'pattern': 'Invalid name. (i.e. BMW)'}">
                </app-validation-message>
              </div>
              <div class="form-group">
                <label for="year">Car Year*</label>
                <ng-select [items]="years" formControlName="year"
                    placeholder="Select Year*" bindLabel="year" bindValue="id">
                  </ng-select>
                <app-validation-message [control]="form.controls['year']"
                  [messages]="{'pattern': 'Please select year'}">
                </app-validation-message>
              </div>
              <div class="form-group">
                <label for="year">Car Comapny Name*</label>
                <ng-select [items]="companyName" formControlName="cname"
                    placeholder="Select Car Company Name*" bindLabel="name" bindValue="id">
                  </ng-select>
                <app-validation-message [control]="form.controls['cname']"
                  [messages]="{'pattern': 'Please select car company name'}">
                </app-validation-message>
              </div>
            </div>
            <app-spinner *ngIf="form.disabled"></app-spinner>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">{{carCompanyId ? 'Update Car Model' : 'Add Car Model'}}</button>
              <button type="button" class="btn btn-default float-right" (click)="cancel()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>